pip
setuptools
wheel

Flask
MarkupSafe
Werkzeug
Jinja2
itsdangerous
click

Flask-JSON

Flask-RQ2[cli]

Flask-SQLAlchemy
psycopg2
psycopg2-binary
SQLAlchemy
SQLAlchemy-Utils

alembic
Flask-Migrate

uWSGI

requests[socks]
